@model EmployeeOrganizerApp.MVC.Models.mvcEmployeeModel
@{
    ViewData["Title"] = "AddOrEdit";
}

<div class="form-body">

    <h3>Create New Employee</h3>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => Model.EmployeeID)

        <div div class="input-group mb-1">
            <span class="input-group-text">
                @Html.LabelFor(model => model.Name)
            </span>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
            <div>
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <br />
        <div class="input-group mb-1">
            <span class="input-group-text">
                @Html.LabelFor(model => model.BirthDate)
            </span>
            @Html.EditorFor(model => model.BirthDate)
            <div>
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>
        </div>
        <br />

        <div class="input-group mb-1">
            <span class="input-group-text">
                @Html.LabelFor(model => model.Gender)
            </span>
            @Html.TextBoxFor(model => model.Gender, new { @class = "form-control"})
            <div>
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>
        <br />

        <div class="input-group mb-1">
            <span class="input-group-text">
                @Html.LabelFor(model => model.Email)
            </span>
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control"})
            <div>
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <br />

        <div class="input-group mb-1">
            <span class="input-group-text">
                @Html.LabelFor(model => model.CPF)
            </span>
            @Html.TextBoxFor(model => model.CPF, new { @class = "form-control"})
            <div>
                @Html.ValidationMessageFor(model => model.CPF)
            </div>
        </div>
        <br />

        <div class="input-group mb-1">
            <span class="input-group-text">
                @Html.LabelFor(model => model.Team)
            </span>
            @Html.TextBoxFor(model => model.Team, new { @class = "form-control"})
            <div>
                @Html.ValidationMessageFor(model => model.Team)
            </div>
        </div>
        <br />

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
            <input type="reset" value="Reset" class="btn btn-secondary" />
        </div>
    }
</div>


@section ScriptsFooter{
    <script type="text/javascript">
        //$(function () {
        //    alert('render test');
        //});
    </script>

    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validation/dist/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")"></script>
}