@model EmployeeOrganizerApp.MVC.Models.mvcEmployeeModel
@{
    ViewData["Title"] = "AddOrEdit";
}
<div class="form-body">

    <h3>Create New Employee</h3>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => Model.EmployeeID)

        <div class="input-group mb-3">
            <div class="input-group-text">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="input-group-text">
                @Html.EditorFor(model => model.Name)
            </div>
            <div class="input-group-text">
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <br />

        <div class="input-group mb-3">
            <div class="input-group-text">
                @Html.LabelFor(model => model.BirthDate)
            </div>
            <div class="input-group-text">
                @Html.EditorFor(model => model.BirthDate)
            </div>
            <div class="input-group-text">
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>
        </div>
        <br />
        <div class="input-group mb-3">
            <div class="input-group-text">
                @Html.LabelFor(model => model.Gender)
            </div>
            <div class="input-group-text">
                @Html.EditorFor(model => model.Gender)
            </div>
            <div class="input-group-text">
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>
        <br />
        <div class="input-group mb-3">
            <div class="input-group-text">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="input-group-text">
                @Html.EditorFor(model => model.Email)
            </div>
            <div class="input-group-text">
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <br />
        <div class="input-group mb-3">
            <div class="input-group-text">
                @Html.LabelFor(model => model.CPF)
            </div>
            <div class="input-group-text">
                @Html.EditorFor(model => model.CPF)
            </div>
            <div class="input-group-text">
                @Html.ValidationMessageFor(model => model.CPF)
            </div>
        </div>
        <br />
        <div class="input-group mb-3">
            <div class="input-group-text">
                @Html.LabelFor(model => model.Team)
            </div>
            <div class="input-group-text">
                @Html.EditorFor(model => model.Team)
            </div>
            <div class="input-group-text">
                @Html.ValidationMessageFor(model => model.Team)
            </div>
        </div>
        <br />
        <div class="input-group mb-3">
            <input typeof="submit" value="Submit" class="btn btn-primary" />
            <input typeof="reset" value="Reset" class="btn btn-secondary" />
        </div>

    }
</div>

@using (Html.BeginScripts())
{
    <script>
        alert('hello');
    </script>
}